header, footer {
	background-color: rgb(60 80 120);
	text-align: center;
	height: 50px;
	margin-bottom: 20px;
}

nav {
	display: block;
	width: 50px;
}

nav a {
	width: 100px;
	font-size: 18px;
	color: black;
	float: left;
	text-align: left;
	margin: 5px;
	font-weight: bold;
	text-decoration: none;
}

nav .active {
	color: white;
}

main {
	display: inline-flex;
	width: 100%;
	height: 1000px;
}

main>* {
	float: left;
	background-color: rgb(70 80 90);
}

.left-banner {
	width: 15%;

}

.mid-section {
	width: 70%;
	text-align: center;
	padding: repeat(4, 20px);
	margin: 0px 40px;
	color: lightgray;
	line-height: 30px;
	letter-spacing: auto;
	font-weight: 600;
	font-family: Georgia;
}

.mid-section p {
	padding: 10px;
}

.right-banner {
	width: 15%;
}