header, footer {
	background-color: rgb(60 80 120);
	text-align: center;
}
main {
	display: inline-flex;
	width: 100%
}

main>* {
	float: left;
	background-color: rgb(70 80 90);
}

.left-banner {
	width: 15%;
}

.mid-section {
	width: 70%;
	text-align: center;
}

.right-banner {
	width: 15%;
}