header, footer {
	background-color: rgb(60 80 120);
	text-align: center;
}
main {
	display: inline-flex;
	width: 100%;
	height: 1000px;
}

main>* {
	float: left;
	background-color: rgb(70 80 90);
}

.left-banner {
	width: 15%;

}

.mid-section {
	width: 70%;
	text-align: center;
	padding: repeat(4, 20px);
	margin: 0px 40px;
	color: lightgray;
	line-height: 30px;
	letter-spacing: auto;
	font-weight: 600;
	font-family: Georgia;
}

.mid-section p {
	padding: 10px;
}

.right-banner {
	width: 15%;
}